
* {
    /* padding: 0px 20px 0px 20px; */
    margin: 0;
    box-sizing: border-box;
  }

h1{
    font-family: 'Forum', serif;

} 

.testimonials-img{
    height: 70px;
    width: 70px;
    margin-top: 70px;
}

.testimonials-p{
    margin-top: 20px;
}

.contacts-h1{
    font-size: 34px;
}

.contacts-p{
    font-size: 20px;
}

.portrait-link{
    position: relative;
    bottom: 450px;
    color: #F7F7F9;
    text-decoration: none;
}

.portrait-link:hover{
    text-decoration: underline;
}

.contacts-img{
    height: 320px;
    width: 320px;
    margin: 40px 40px; 
}

.contacts-col{
    padding-top: none;
    padding-bottom: none;
}

h2{
    font-family: 'Forum', serif;
    text-align: left;
    margin-bottom: 40px;

}

h3{
    font-family: 'Forum', serif;
    text-indent: -70px;

}

li{
    font-family: 'Ubuntu', serif;
    text-align: left;
}

ul{
    padding-top: 70px;

}

.services-p{
    text-align: left;
    margin-top: 90px;
}

.services-retouching{
    margin-top: 80px;
}

.services-col-header{
    padding-top: 40px;
    padding-bottom: 40px;
}

.services-row{
    margin: 20px 20px 20px 20px; 
}

h3{
    margin-left: 70px;
}


body{
    letter-spacing: .05em;
}


div{
    margin: auto; 
    text-align: center;
}



.albm-outer-section{
    align-items: center;
    justify-content: center;
}

.inner-section{
    padding: 80px 0px 80px 0px; 
    width: 1320px; 
 
}

.abt-outer-section{
    background-color: #F7F7F9;
}



.p-2{
    width: 500px;
    text-align: center;
}

.abt-header{
    font-family: 'Forum', serif;
    font-size: 29px;
    color: #2d2d2d;

}

.abt-name{
    font-family: 'Forum', serif;
    font-size: 40px;
    color: #2d2d2d;

}


p {
    font-family: 'Ubuntu', serif;
    font-size: 16px;
    text-align: center;
    letter-spacing: .05em;
}

.gallery-row{
    padding: 70px 70px;
}

.col-1{ 
    font-size: 34px;
    font-family: 'Forum', serif;
    color: #2d2d2d;
    align-items: center;
   
}

.vertical-photo{
    height: 515px;
    width: 643px; 
    padding: 20px 20px 20px 20px; 
}

.horizontal-photo{
    height: 765px ;
    width: 1400px ;
    padding: 20px 20px 20px 20px; 
}

button.btn-testimonials{
    position: relative;
    display: inline-block;
    font-size: 16px;
    background-color: #2d2d2d;
    color: #F7F7F9;
    font-family: 'Forum', serif;
    padding: 20px 70px 20px 70px;
    margin: 70px;
    letter-spacing: 1.5px;
}

button.btn-testimonials:hover{
    background-color: #B4B4B8; /* change to your desired color */
    color: #2d2d2d; 
}

button.btn{
    position: relative;
    display: inline-block;
    font-size: 26px;
    background-color: #2d2d2d;
    color: #F7F7F9;
    font-family: 'Forum', serif;
    padding: 20px 70px 20px 70px;
    margin: 30px 40px;
    letter-spacing: 0.5px;
}

button.btn:hover {
    background-color: #B4B4B8; /* change to your desired color */
    color: #2d2d2d; 
  }

button.btn-contacts{
    position: relative;
    display: inline-block;
    font-size: 12px;
    background-color: #2d2d2d;
    color: #F7F7F9;
    font-family: 'Ubuntu', serif;
    padding: 20px 210px 20px 210px;
    margin: 30px 80px;
    letter-spacing: 0.5px;
}

button.btn-contacts:hover{
    background-color: #B4B4B8; /* change to your desired color */
    color: #2d2d2d; 
}

button.gallery-btn{
    font-size: 22px;
    color: 2d2d2d; 
    font-family: 'Ubuntu', serif;
    background-color: transparent;
    outline: invert;
    border: none;
    padding: none;
    font-weight: lighter;
    text-decoration: underline;



  }

.gallery-container{
    display: grid;
  }

 
h2.gallery-h2.portrait{
    text-indent: -13px;
    font-weight: lighter;

}

h2.gallery-h2.campaign{
    text-indent: -25px;
    font-weight: lighter;

}

h2.gallery-h2.retouching{
    text-indent: -29px;    
    font-weight: lighter;

}

div.portrait-div{
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.portrait-img{
    padding: 20px 10px 20px 10px;
}

.retouching-img{
    padding: 20px 10px 20px 10px;

}

.anthe-img{
    padding: 20px 10px 20px 10px;

}

.nicole-img{
    padding: 20px 10px 20px 10px;

}

.nicole-img-5{
    height: 424px;
}

.anya-img{
    padding: 20px 10px 20px 10px;
}
