.main-about{
    text-align: center;
    font-family: Ubuntu, sans-serif;
    font-weight: normal;

}

h1{
    font-family: Forum, sans-serif;
}

h2{
    font-family: Forum, sans-serif;
}

p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

*{
    box-sizing: border-box;
}
